@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Summary</h1>
    
    <table class="table table-striped table-hover">
        <tr><td>Current EUR rate</td><td>@Html.DisplayFor(m => m.Calculator.EurPrice) HUF</td></tr>
        <tr><td>Total HUF transferred</td><td>@Html.DisplayFor(m => m.Calculator.TotalHufSpent) HUF</td></tr>
        <tr><td>Current ETF price</td><td>@Html.DisplayFor(m => m.Calculator.EtfPrice) EUR</td></tr>
        <tr><td>Number of ETFs</td><td>@Html.DisplayFor(m => m.Calculator.NumberOfEtfs)</td></tr>
        <tr><td>Remaining money</td><td>@Html.DisplayFor(m => m.Calculator.RemainingMoney) EUR</td></tr>
        <tr><td>Total Value</td><td>@Html.DisplayFor(m => m.Calculator.TotalValue) EUR</td></tr>
        <tr><td>Total Value</td><td>@Html.DisplayFor(m => m.Calculator.TotalValueHuf) HUF</td></tr>
        <tr><td>Gain</td><td>@Html.DisplayFor(m => m.Calculator.Gain) HUF</td></tr>
        <tr><td>Gain</td><td>@Html.DisplayFor(m => m.Calculator.GainPercent) %</td></tr>
        <tr><td>Mean y/y ETF gain</td><td>@Html.DisplayFor(m => m.Calculator.AvgYearlyGain) %</td></tr>
        <!--
        <tr><td>Gain on EUR-HUF</td><td>15,333.07 HUF</td></tr>
        <tr><td>Gain on EUR-HUF</td><td>3.02 %</td></tr>
        <tr><td>Gain on ETF price</td><td>125.34 EUR</td></tr>
        <tr><td>Gain on ETF price</td><td>10.93 %</td></tr>-->
        
    </table>
</div>
